footer{
  @include flex;
  background-color: $footerback;
  height: $mainmargin;
  width:100%;
  padding-bottom: 25px;
  @include fixedToBottom;
  flex-wrap:wrap;
  text-align: center;
  h2{
    width: 100%;
  }
  div{
    width:100%;
  }
  a{
    text-decoration: none;
    padding:12px 20px;
    background-color:$mainback;
    &:hover{
      cursor:pointer
    }
  }
}
