*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1{
  width:100%;
}

a{
  text-decoration: none;
  padding:35px;
  color:$txtcolor;
  border-radius: 25px;
  &:hover{
    cursor: pointer;
  }
}

.console{
  margin-bottom: 25px;
}
