footer{
  background-color: $footerBackground;
  color:$txtcolor;
  @include flex;
  width:100%;
  height:$mainheight;
  @include fixedToBottom;
  a{
    background-color: $headerBackground;
    color:#000;
  }
}
