* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 35px;
  color: #c2cad0;
  border-radius: 25px;
}

a:hover {
  cursor: pointer;
}

.console {
  margin-bottom: 25px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: #c2cad0;
  font-size: 1.8rem;
  margin-top: 200px;
  background-color: #7e685a;
  height: calc(100vh - 400px);
}

header {
  background-color: #afd275;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

header a {
  background-color: #e7717d;
}

footer {
  background-color: #e7717d;
  color: #c2cad0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  background-color: #afd275;
  color: #000;
}

